<div class="text-center">
  <h1><%= @user.name %></h1>

  <p class="buffer-top">
    <%= link_to "Редактировать профиль", edit_user_path(@user), class: 'btn btn-default' %>
  <h1>Мои заказы</h1>

  <div class="buffer-both">
    <%= link_to 'Сделать новый заказ', new_order_path, class: 'btn btn-success' %>
  </div>

  <div class="row buffer-bottom">
    <!-- Рендерим сразу массив заказов -->
    <%= render partial: 'orders/order', collection: @orders %>
  </div>
  </p>
</div>